<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
    <header class="max-w-5xl mx-auto pt-5">
        <div class="flex flex-wrap -mx-2 overflow-hidden px-5 lg:px-0">

            <div class="my-2 px-2 w-full overflow-hidden md:w-1/6 lg:w-1/3 xl:w-1/3 text-center md:text-left">
                <h1 class="font-bold text-2xl font-serif">Raalhu</h1>
            </div>

            <nav class="my-2 px-2 w-full overflow-hidden md:w-3/6 lg:w-1/3 xl:w-1/3 text-center md:text-left">
                <ul>
                    <li class="inline-block"><a class="block font-semibold px-3" href="">Home</a></li>
                    ...
                </ul>
            </nav>
        
            <div class="my-2 px-2 w-full overflow-hidden md:w-2/6 lg:w-1/3 xl:w-1/3 text-center md:text-right">
                <a href="" title="Facebook" class="inline-block w-6 mr-2">
                    <svg class="fill-current" viewBox="-110 1 511 512" xmlns="http://www.w3.org/2000/svg">...</svg>
                </a>
                ...
            </div>   
        </div>
    </header>
    <div class="bg-gray-100">
        <!-- featured -->
        <div class="max-w-5xl mx-auto py-10">
            <ul class="flex flex-wrap -mx-2 overflow-hidden">
                <li class="my-2 px-2 w-full overflow-hidden md:w-1/3 lg:w-1/3 xl:w-1/3">
                    <a href="">
                        <div class="mx-2 flex items-center justify-center bg-gray-300 bg-cover bg-center relative rounded-lg overflow-hidden" style="height:400px; background-image:url(http://lorempixel.com/300/400/nature/)">
                            <div class="absolute w-full h-full bg-black z-10 opacity-50"></div>
                            <div class="relative z-20 text-center p-5">
                                <span class="inline-block text-white uppercase text-xs tracking-wide">Nature</span>
                                <h2 class="text-white font-semibold font-serif text-xl my-5">Spend time with nature to recharge yourself</h2>
                                <span class="inline-block text-xs text-white font-sans">December 02, 2019. By Debbie</span>
                            </div>
                        </div>
                    </a>
                </li>
                ...
            </ul>
        </div>
    </div>
    <div class="mt-20">
        <h2 class="font-light text-xl mb-5 text-center">Search the blog</h2>
        <div class="relative border rounded-sm overflow-hidden">
            <form action="">
                <input class="w-full relative p-5 font-light text-gray-900 border-0" type="text" name="s" id="" placeholder="Search...">
                <button type="submit" class="bg-transparent border-0 absolute top-auto right-0 px-5 py-5" style="top: 2px">
                    <span class="block w-5">
                        <svg class="fill-current" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">...</svg>
                    </span>
                </button>
            </form>
        </div>
    </div>
    <div class="w-1/2 overflow-hidden pr-2 md:pr-4">
        <div>
            <img class="w-full h-auto rounded" src="..." alt="">
            <h2 class="text-gray-900 font-thin font-serif text-xl my-5"><a href="">...</a></h2>
            <p class="text-gray-900 font-thin tracking-wider leading-loose">...</p>
            <a href="" class="inline-block pt-5 text-sm font-medium tracking-wider">Read More...</a>
            </div>
    </div>
    <div class="article-card">
        <div>
            <img class="article-image" src="..." alt="">
            <h2 class="article-title"><a href="">...</a></h2>
            <p class="article-body">...</p>
            <a href="" class="readmore">Read More...</a>
        </div>
    </div>
</body>
</html>